#
# ~/.aliases
#
# Aliases shared between bash and zsh

alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias vp='vim PKGBUILD'
alias more='less'

alias h='history'
#alias hv='history | view -' # Pipe history to read-only VIM
alias hg='history | grep -iE --' # History grep/search

# Added safety and verbose
alias rm='rm -iv'
alias mv='mv -iv'
alias cp='cp -iv'

# Lazy typing
alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd $-' # Back to previous dir
alias cls='clear'
alias _='sudo' # Simple sudo
alias sl='ls'

# LS Fu
#alias ls='ls --color=auto'
#alias la='ls -lhaZ'
#alias lsa='ls -shaCF' # Does not show SE info

# LSDeluxe
alias ls='lsd'
#alias l='ls -l'
#alias la='ls -a'
alias lsa='ls -haF' # Does not show SE info
#alias lla='ls -la'
#alias lt='ls --tree'

# Borrowed from CentOS
alias l='ls -l'
alias l.='ls -d .* --color=auto'
alias la='ls -a'
alias ll='ls -l --color=auto'
alias lla='ls -la'
alias lt='ls --tree'

# Gets WAN ip
#alias myip='dig myip.opendns.com @resolver1.opendns.com +short'
alias myip='curl -4 icanhazip.com'
alias myip6='curl -6 icanhazip.com'

# Weather info in colors
alias weather='curl wttr.in'

# Moon Phase
alias moon='curl wttr.in/Moon'

# Run youtube-dl for music without looking at --help every time
alias yt-audio='youtube-dl -x --audio-quality 0 --audio-format mp3 --add-metadata'

# Write those tags to file
alias youtube-dl='youtube-dl --add-metadata'

# Use larger units
alias iostat='iostat --human'

# What GCC "native" know about the CPU and what flags native enables on your machine
alias gcc-info='gcc -march=native -v -Q --help=target; echo; gcc -v -E -x c /dev/null -o /dev/null -march=native 2>&1 | grep /cc1'

# List of the top ten most used commands
alias most-often='history | awk '"'"'{print $2}'"'"' | sort | uniq -c | sort -rn | head'

# Gabe's time in Italy
alias gabe='TZ=Europe/Rome date'

# Sajid's time in Pakistan
alias sajid='TZ=Asia/Karachi date'

# Supress gtk warning messages
alias gvim='gvim 2>/dev/null'
alias gvimdiff='gvimdiff 2>/dev/null'
alias gedit='gedit 2>/dev/null'

# Make all the aliases available when using sudo and gvim configuration
#XXX Change this in visudo instead
#alias sudo='sudo -E '

# Show time
alias dmesg='sudo dmesg -T'

# Nice formatting
alias mount='mount | awk -F'"'"' '"'"' '"'"'{print $1, $3, $5, $6}'"'"' | column -t --table-columns SOURCE,TARGET,TYPE,OPTIONS,PASS,FREQ --table-right PASS,FREQ'

# List cameras
alias lscam='v4l2-ctl --list-devices'

# Make globbing * and .* behave
#GLOBIGNORE=".:.." 
#shopt -u dotglob	#FIXME Works in bash, not zsh
# Disk usage sort
alias dsort='du -xsh * | sort -h'
#alias dsort='du -xsh * .* | sort -h'

# Find all git repos in home
alias findrepos="find ~/ -type d -name '.git'"

# Modified within an hour and exclude dot files
alias onehour='find ~/ -mtime -1 -print | grep -vE '"'"'/home/bullshark/\..+)'"'"''

# When you need to run all three many times during development
alias cleanbuildrun='./gradlew clean && ./gradlew build && ./gradlew run'
alias cbr=cleanbuildrun

# Unlock, edit, lock
alias vr='sudo chattr -i /etc/resolv.conf && sudo vim /etc/resolv.conf && sudo chattr +i /etc/resolv.conf'

# Show full host/ip with reverse sort, latest logins at the bottom
alias last='last -a | tac'

# Show just my custom aliases from this file, not ohmyzsh aliases
alias myalias='alias | grep -vE "yay|pacman|git"'

# Show just my custom functions from this file, not ohmyzsh aliases
if [ -n "$ZSH_VERSION" ]; then
   alias myfunctions='grep -E '\''^function [A-Za-z0-9_-]+'\'' ~/.functions | awk -F'\'' '\'' '\''{print $2}'\'''
elif [ -n "$BASH_VERSION" ]; then
  alias myfunctions="typeset -F | sed 's/declare -f //' | grep -Ev '_sdk'"
fi

# Show the current playing mp3 in clementine
alias findmp3='lsof -p $(pidof clementine) | grep -E '/.+\.mp3''

# Display output in a table
# Example: command | ct
alias ct='column -t'

# Path in human readable format
alias path="echo $PATH | tr ':' '\n'"

# Simple HTTP Server
alias webup='python3 -m http.server 8080'

# List all user accounts alphabetically
alias lsusers='cut -d: -f1 < /etc/passwd | sort | xargs'

# See what's on the local network and get hardware info from their mac addys
alias netd='sudo netdiscover -i enp3s0'

# Module parameters for wifi
alias modparams='systool -vm 88XXau'

# apt-file find lib.so (Uses regex)
alias apt-file='sudo pacman -Fx'

#-------------------------------------------------------------
# ss: socket statistics
# -a all
# -l listening
# -o timer info
# -e extended/detailed socket info
# -m memory info
# -p processes using socket
# -i internal tcp info
# -r try to resolve numeric port/addr
# -s summary statistics
# -Z Implies -p with SE Audit info
# -z Implies -Z with more SE Fu, more verbose
# -n numeric, no resolve
# -b bpf (berkeley pcap/tcpdump filters), -4, -6, -0 packet (-f link),
# -t tcp, -u udp, -d dccp, -w raw, -x unix (-f unix)
# -- family, socket tables, ...
#-------------------------------------------------------------
alias sss='sudo ss -aloempin'

#-------------------------------------------------------------
# lsof: list open files
# -i Without args, selects the listing of all IP network files
# -n Prevent conversion of net numbers to net names
# -P Prevent conversion of port numbers to port names
#-------------------------------------------------------------
alias lsofnet='sudo lsof -i -n -P'

# vi: ft=sh

