#
# ~/.inputrc
#

# Use a builtin internal pager like more for screenfuls of completion
set page-completions on
# Display history lines that have been modified with a *
set mark-modified-lines on
# Match hidden files with file completion
set match-hidden-files on

# Vim
set editing-mode vi
set keymap vi

$if mode=vi
    # Normal mode.
    set keymap vi-command
    #"j": transpose-chars
    # Insert mode.
    set keymap vi-insert
    "\C-j": next-history
    "\C-k": previous-history
    "\C-l": clear-screen
$endif

